html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  border: 0;
  overflow: hidden; /*  Disable scrollbars */
  display: block;  /* No floating content on sides */
}
.model {
  animation: 5s spin linear infinite;
}

@keyframes spin {
  to {
    transform: rotateY(360deg);
  }
}

#Timer{
  position:absolute;
  width:200%;
  bottom:0;
  margin-left: 230px;
  margin-bottom:50px;
  font-family:'Langar', sans-serif;
  color:#0373fc;
  font-size:160px;
  letter-spacing:1px;
  text-transform: uppercase;
}
#fistName{
  position:absolute;
  width:200%;
  bottom:0;
  margin-left: 230px;
  margin-bottom:50px;
  font-family:'Langar', sans-serif;
  color:#0373fc;
  font-size:160px;
  letter-spacing:1px;
  text-transform: uppercase;
}
