html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  border: 0;
  overflow: hidden; /*  Disable scrollbars */
  display: block;  /* No floating content on sides */
}
.model {
  animation: 5s spin linear infinite;
}

@keyframes spin {
  to {
    transform: rotateY(360deg);
  }
}

#Timer{
  position:absolute;
  width:200%;
  bottom:0;
  margin-left: 70px;
  margin-bottom:5px;
  font-family:'Langar', sans-serif;
  color:#0373fc;
  font-size:170px;
  letter-spacing:1px;
  text-transform: uppercase;
}
#fistName{

}

label {
color: #0373fc;
font-weight: bold;
display: block;
width: 150px;
float: left;
margin-left: 230px;
font-family:'Langar', sans-serif;
font-size:20px;
transform:translate(310%,90%);
}

input {
    margin-top: 20px;
    margin-left: 230px;
    transform:translate(30%,30%);
}
button {
    margin-top: 25px;
    margin-left: 718px;
    color: #0373fc;
      position:absolute;
}
